{
    "tabWidth": 4,
    "semi": false,
    "arrowParens": "always",
    "spaceBeforeFunctionParen": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "braceStyle": "1tbs",
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        }
    ]
}